h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

h3{
  text-align: center;
  letter-spacing: 2px;
}

.profiles {
  text-align: center;
  height: 100vh;
}
.color-nav {
  background-color: #fff;
}
.App-header {
  border-bottom: 5px solid #a68676;
  text-align: center;

}
.App-header h1{
  font-size: 60px;
  letter-spacing: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #000;
}
.rtc {
  height: 60px;
}
.homepage {
  text-align: center;
  overflow: auto;
  min-height: calc(100vh - 80px);
  padding-bottom: 50px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

h2 {
  font-weight: bold;
}

#option1 {
  float: left;
  flex: 40%;
  padding-right: 10px;
}

/*#option2 {
  float: left;
  width: 325px;
  height: 200px;
  margin-left: 47px;
}*/
#option3 {
  float: right;
  flex: 40%;
  padding-left: 10px;
}
.options {
  display: flex;
  padding-top: 20px;
  width: calc(60% - 10px);
  margin: auto;
}
.options a{
  color: #8b5e29;
  text-decoration: none;
}
.options a:hover {
  color: #d9ac8d;
  text-decoration: none;
}
.welcome-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: calc(80% - 5px);
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  padding-top: 50px;

}
.welcome-container-text p {
  text-align: left;
  margin-left: 30px;
  line-height: 30px;
}
.welcome-container-text h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: none;
  padding-bottom: 10px;
  padding-top: 20px;
}
.welcome-graphic {
  float: right;
  width: 300px;
  padding: 10px;
}
.welcome-graphic .welcome-container-text p{
  display: inline-block;
  justify-content: center;
}

.ready {
  padding: 20px;
  justify-content: center;
  width: calc(80% - 10px);
  margin: auto;
}
.ready h1 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  letter-spacing: 3px;
  text-transform: none;
  padding: 20px;
}
.ready p{
  line-height: 50px;
}
.App-header {
  background-color: #fff;
  height: 250px;
  color: black;
  padding-top: 10px;
  text-align: center;
  /*border-bottom: 5px solid #0EA9CB;*/
}
#search {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}
.profBody {
  margin-top: 50px;
}
hr {
  border: 1px solid black;
  padding: 0;
  margin: 0;
}
.date1 {
  float: left;
  font-size: 20px;
  margin-left: 81px;
}
.date3 {
  text-align: left;
  font-size: 18px;
}
.date2 {
  width: 200px;
  margin-left: 647px;
  font-size: 20px;
  padding-top: 230px;
  padding-bottom: 0;
}
.hs {
  float: left;
  margin-left: 100px;
  margin-bottom: none;
  max-width: calc(35% - 10px);
}
.hs h3{
  text-align: left;
}
.hs p{
  text-align: left;
}
.job {
  float: right;
  margin-right: 100px;
  max-width: calc(35% - 10px);
}
.job p{
  text-align: left;
}
.job h3{
  text-align: left;
}
.college {
  margin-left: 665px;
  max-width: calc(35% - 10px);
}
.college h3{
  text-align:left;
}
.college p{
  text-align: left;
}
/*.interests1 {
  float: left;
  border: 5px solid #0EA9CB;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
}
.interests2 {
  float: right;
  border: 5px solid #0EA9CB;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
}*/
.email {
  float: left;
  margin-left: 300px;
}
.email p{
  font-size: 20px;
}
.based {
  float: right;
  margin-right: 300px;
}
.based p{
  font-size: 20px;
}
.profile {
  width: 200px;
  height: 200px;
  border: 4px solid #a68676;
  background-color: #fff;
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
  padding: 10px;
}
.vertical {
  border-left: 2px solid black;
  height: 40px;
  margin-left: 30px;
}
li {
  font-size: 22px;
  margin-bottom: 30px;
}
.clearfloat {
  clear: both;
}
#spacer {
  height: 30px;
}
#button {
  margin-left: 15px;
  width: 110px;
}
#bar {
  width: 420px;
}
#directory {
  padding-top: 150px;
  text-align: center;
  height: 75vh;
}
#directory h2 {
  border: 1px solid black;
  width: calc(40% - 10px);
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;
  padding: 15px;
  border-radius: 5px;
}
.Footer {
  background-color: white;
  color: gray;
  font-size: 14px;
  text-align: center;
  height: 60px;
  position: absolute-center;
}

.autocomplete-items a {
  padding: 10px;
  cursor: pointer;
  color: #000;
  background-color: rgb(221, 221, 221);
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
