.profiles {
  /*text-align: center;*/
  height: 100vh;
}
.color-nav {
  background-color: black;
}

.App-header {
  border-bottom: 5px solid #0EA9CB;
}
.rtc {
  width: 150px;
}
.homepage {
  height: 70vh;
  text-align: center;
}
.title {
  margin-top: 100px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

h2 {
  font-weight: bold;
}

#option1 {
  float: left;
  width: 200px;
  height: 200px;
  flex: 50%;
  padding: 20px;
}

/*#option2 {
  float: left;
  width: 325px;
  height: 200px;
  margin-left: 47px;
}*/
#option3 {
  float: right;
  width: 200px;
  height: 200px;
  flex: 50%;
  padding: 20px;
}
.options {
  display: flex;
  width: calc(60% - 10px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 200px;
}
.options a{
  color: #2e1201;
  text-decoration: none;
}
.options a:hover {
  color: #d9ac8d;
  text-decoration: none;
}
.App-header {
  background-color: black;
  height: 180px;
  color: white;
  padding-top: 10px;
  text-align: center;
  /*border-bottom: 5px solid #0EA9CB;*/
}
#search {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}
.profBody {
  margin-top: 50px;
}
hr {
  border: 1px solid black;
  padding: 0;
  margin: 0;
}
.date1 {
  float: left;
  font-size: 20px;
  margin-left: 81px;
}
.date3 {
  text-align: left;
  font-size: 18px;
}
.date2 {
  width: 200px;
  margin-left: 647px;
  font-size: 20px;
  padding-top: 157px;
  padding-bottom: 0;
}
.hs {
  float: left;
  margin-left: 100px;
  margin-bottom: none;
}
.hs h3{
  text-align: left;
}
.hs p{
  text-align: left;
}
.job {
  float: right;
  margin-right: 100px;
}
.job p{
  text-align: left;
}
.job h3{
  text-align: left;
}
.college {
  margin-left: 665px;
}
.college h3{
  text-align:left;
}
.college p{
  text-align: left;
}
/*.interests1 {
  float: left;
  border: 5px solid #0EA9CB;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
}
.interests2 {
  float: right;
  border: 5px solid #0EA9CB;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
}*/
.email {
  float: left;
  padding-left: 300px;
}
.email p{
  font-size: 20px;
}
.based {
  float: right;
  padding-right: 300px;
}
.based p{
  font-size: 20px;
}
.profile {
  width: 260px;
  height: 290px;
  border: 5px solid #FFC700;
}
.vertical {
  border-left: 2px solid black;
  height: 40px;
  margin-left: 30px;
}
li {
  font-size: 22px;
  margin-bottom: 30px;
}
.clearfloat {
  clear: both;
}
#spacer {
  height: 30px;
}
#button {
  margin-left: 15px;
  width: 110px;
}
#bar {
  width: 420px;
}
#directory {
  padding-top: 150px;
  text-align: center;
  height: 75vh;
}
#directory h1 {
  border: 1px solid black;
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}
.Footer {
  background-color: black;
  color: white;
  font-size: 20px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 70px;
}

.autocomplete-items a {
  padding: 10px;
  cursor: pointer;
  color: #000;
  background-color: rgb(221, 221, 221);
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
